ConsoleApp1/Connected Services/StarLineReference/GetOrderStatusTypesRequest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://www.promostandards.org/WSDL/OrderStatusService/1.0.0/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="GetOrderStatusTypesRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="wsVersion">
          <xsd:annotation>
            <xsd:documentation>The Standard Version of the Web Service being referenced</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:token">
              <xsd:minLength value="1" />
              <xsd:maxLength value="64" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="id">
          <xsd:annotation>
            <xsd:documentation>The customerID or any other agreed upon ID.</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:token">
              <xsd:minLength value="1" />
              <xsd:maxLength value="64" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element minOccurs="0" name="password">
          <xsd:annotation>
            <xsd:documentation>
              The password associated with the customerID.
            </xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:token">
              <xsd:minLength value="1" />
              <xsd:maxLength value="64" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>