ConsoleApp1/Connected Services/StarLineReference/OrderStatus_v1_0_0.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.promostandards.org/WSDL/OrderStatusService/1.0.0/" name="OrderStatus_v1_0_0" targetNamespace="http://www.promostandards.org/WSDL/OrderStatusService/1.0.0/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import schemaLocation="GetOrderStatusDetailsRequest.xsd" namespace="http://www.promostandards.org/WSDL/OrderStatusService/1.0.0/" />
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import schemaLocation="GetOrderStatusDetailsResponse.xsd" namespace="http://www.promostandards.org/WSDL/OrderStatusService/1.0.0/" />
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import schemaLocation="GetOrderStatusTypesRequest.xsd" namespace="http://www.promostandards.org/WSDL/OrderStatusService/1.0.0/" />
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import schemaLocation="GetOrderStatusTypesResponse.xsd" namespace="http://www.promostandards.org/WSDL/OrderStatusService/1.0.0/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetOrderStatusDetailsRequestMessage">
    <wsdl:part name="GetOrderStatusDetailsRequest" element="tns:GetOrderStatusDetailsRequest" />
  </wsdl:message>
  <wsdl:message name="GetOrderStatusDetailsResponseMessage">
    <wsdl:part name="GetOrderStatusDetailsResponse" element="tns:GetOrderStatusDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="GetOrderStatusTypesRequestMessage">
    <wsdl:part name="GetOrderStatusTypesRequest" element="tns:GetOrderStatusTypesRequest" />
  </wsdl:message>
  <wsdl:message name="GetOrderStatusTypesResponseMessage">
    <wsdl:part name="GetOrderStatusTypesResponse" element="tns:GetOrderStatusTypesResponse" />
  </wsdl:message>
  <wsdl:portType name="OrderStatusService">
    <wsdl:operation name="getOrderStatusDetails">
      <wsdl:input message="tns:GetOrderStatusDetailsRequestMessage" />
      <wsdl:output message="tns:GetOrderStatusDetailsResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="getOrderStatusTypes">
      <wsdl:input message="tns:GetOrderStatusTypesRequestMessage" />
      <wsdl:output message="tns:GetOrderStatusTypesResponseMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OrderStatusServiceBinding" type="tns:OrderStatusService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getOrderStatusDetails">
      <soap:operation soapAction="getOrderStatusDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOrderStatusTypes">
      <soap:operation soapAction="getOrderStatusTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrderStatusService">
    <wsdl:port name="OrderStatusServiceBinding" binding="tns:OrderStatusServiceBinding">
      <soap:address location="https://services.starline.com/orderstatusservice/CustomerOrderStatusService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>